*{margin: 0;
padding: 0;}
 .cabecalho{ background-color: #936A53 ;
color:white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 14px 0;}

.div-cabecalho-logo {display: flex;}
.cabecalho-lista-item{
 display:incline-block;
 margin: 0 7px;
 font-size: 12px;}
 .cabecalho-imagem{ width: 12%;
padding: 0 15px;}
.cabecalho-titulo{
font-size: 16px;
padding:20px 0;}
.escola-imagem{
width:20%;}
.escola{
 background-image: linear-gradient(#C5AA, WHITE);
color:black;
display:flex;
justify-content:center;
align-items: center;
padding: 24px 0;}
.escola-titulo{
 padding: 24px 0;}
 .escola-texto-um{
 padding:24px 0;}
 .escola-div-conteudo{
    width:35% ;
 }

